/*---------- Form ----------*/
form {
  color: black;
}
.wrapper {
  display: flex;
}
label {
  display: block;
}
textarea {
  line-height: 40px;
  min-width: 40px;
  max-height: 160px;
  resize: vertical;
}
